.button
	background-color: #233040
	border: none
	color: white
	padding: 15px 32px
	text-align: center
	text-decoration: none
	display: inline-block
	cursor: pointer

$bgc: #83E2FF


body
	height: 3000px
	margin: 0px
	width: 100%

p
	color: green

header
	display: flex
	background-color: $bgc
	height: 100px
	margin: 0px

#bar
	height: 30px
	background-color: green

#logo

#input

#shop

#deliver

nav

ul

#container
	display: flex
	flex-direction: row
	flex-wrap: none
	justify-content: space-between
	height: 70%
	margin-top: 5%
	padding: 1%
	*
		margin: -1%

#left
	width: 15%

#middle
	width: 85%
	display: flex
	flex-flow: row
	flex-wrap: wrap

	padding-bottom: 0px
	overflow: hidden
	a
		margin-left: 2%